/*
 * Paper Miner
 *
 * v 1.0 2013-01-07
 */
 
body {
 background:white url(../images/paper11.gif);
 width:840px;
 margin:0;
 padding:0;
}

div.content {
 font-family:Verdana,'Trebuchet MS',Tahoma,Geneva,Ariel,sans-serif;
 font-size:16px;
 color:black;
 width:840px;
 margin-left:20px;
}

div#header-bar {
 background-image:url(../images/pm-logo2a.png);
 background-repeat:no-repeat;
 margin-top:5px;
 margin-bottom:-20px;
 width:100%;
}

div#menu-bar {
 width:800px;
 height:40px;
 display:block;
 margin:0 auto;
}

div#map-canvas {
 width:700px;
 height:520px;
 z-index:21;
}
div#map-sidebar {
 margin-left:8px;
 z-index:21;
}
div#map-options {
 margin-top:16px;
 margin-bottom:8px;
 font-size:12px;
}
div#map-options2 {
 margin-top:16px;
 margin-bottom:8px;
 font-size:12px;
}

div#y2k-section{
 width:820px;
}
div#y2k-timespan {
 margin-top:16px;
 margin-bottom:22px;
}
div#y2k-timeline {
 height:20px;
 background-image:url(../images/bg13.png);
}
div#relevance-timespan {
 margin-top:16px;
 margin-bottom:22px;
 font-size:12px;
}

div.year-marker {
 width:3px;
 height:20px;
 position:absolute;
}

a.timeline-hotspot {
 top:0;
 left:0;
 width:4px;
 height:20px;
 position:absolute;
}

div#raw-list-container {
 width:120px;
 height:500px;
 overflow:auto;
 border:1px solid;
 border-radius:8px;
 background-color:#eeeeee;
 padding:10px;
 margin-botton:16px;
}

div#raw-record-container {
 width:660px;
 height:450px;
 overflow:auto;
 border:1px solid;
 border-radius:8px;
 background-color:#eeeeee;
 padding:8px;
}

div#raw-ctl {
 width:660px;
 height:28px;
 border:1px solid;
 border-radius:8px;
 background-color:#eeeeee;
 padding:8px;
 margin-top:4px;
}

div#record-text-container {
 width:480px;
 height:450px;
 overflow:auto;
 border:1px solid;
 border-radius:8px;
 background-color:#eeeeee;
 padding:8px;
}

div#location-list-container {
 width:300px;
 height:450px;
 overflow:auto;
 border:1px solid;
 border-radius:8px;
 background-color:#eeeeee;
 padding:8px;
}

div.help {
 text-align:justify;
 margin-left:10px;
}

div.indent {
 margin-left:18px;
}

div.paneContainer {
  float:right;
  height:440px;
  width:830px; 
  padding:3px; 
}

div.pm-button-bar {
 float:right;
 margin-top:4px;
 margin-right:6px;
 margin-bottom:6px;
}

div#working-pane {
  width:300px;
  height:200px;
  position:absolute;
  left:50%;
  top:50%;
  margin:-100px 0 0 -150px;
  background:black;
  alpha:.3;
 -webkit-border-radius:8px;
 -webkit-box-shadow:5px 5px 12px #777;
 -moz-border-radius:8px;
 -moz-box-shadow:5px 5px 12px #777;
}

div.marker-popup { font-size:13px; }
div#terms-of-use { font-size:12px !important; }
span#tou-link { font-size:12px !important; }

h1 { text-align:center; }
h3.help-h3 { margin-bottom:0px; }
h4.help-h4 { margin-bottom:0px; }
*#help-pm h2 { margin-bottom:2px; }
*#help-pm p { margin-top:6px; }
*.indent p { margin-top:4px; margin-bottom:8px; }
  
hr.pm-button-sep { margin-bottom:0; }

p { margin-bottom: 18px; }
 
li {
 padding-left: 15px;
 padding-right: 25px;
}

.spinner { width:60px; height:60px; padding-top:2px; padding-bottom:2px; padding-right:30px; }

#nav-wrapper {
 width:820px;
 margin:0 auto;
 background:grey;
 border-radius:8px;
 box-shadow:5px 5px 12px #777;
 -webkit-border-radius:8px;
 -webkit-box-shadow:5px 5px 12px #777;
 -moz-border-radius:8px;
 -moz-box-shadow:5px 5px 12px #777;
}

/* TOP LEVEL */
ul.dropdown              { list-style: none; position: relative; padding: 0 0; margin-bottom: 0;}
ul.dropdown li           { font-weight: normal; float: left; background: grey; font-size: 20px; }
ul.dropdown li a         { display: block; color: #DCF4F4; margin-right: 5px; padding: 8px 0 5px 8px; }
ul.dropdown li:hover     { position: relative;}
ul.dropdown li:hover a   { text-decoration: none; color: white; }
ul.dropdown li a:visited { color: #DCF4F4; }

ul.dropdown li.greyed { font-style: italic; font-weight: normal; padding-left:09px; color:grey !important; }
ul.dropdown li.active { font-style: normal; font-weight: normal; }

/* FIRST LEVEL */
ul.dropdown ul    { z-index:27; list-style: none; width: 220px; visibility: hidden; position: absolute; left: 5px; margin-bottom: 0px; }
ul.dropdown ul li { font-size: 14px; background: #eeeeee; color: #384E80; border: 1px solid #dddddd; float: none; padding: 2px 4px; }

/* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a         { color: black; font-weight: normal; width: 100%; display: inline-block; color: #384E80;  padding: 1px 0 1px 5px; }
ul.dropdown ul li a:visited { color: #384E80; background: white; }
ul.dropdown ul li a:hover   { color: white; background-color: #384E80; width: 98%; }
 
/*  SECOND DROPDOWN */
ul.dropdown li:hover > ul { visibility: visible; }
ul.dropdown ul ul         { left: 100%; top: 0; } 
ul.dropdown ul li a       { color: black !important; }
ul.dropdown ul li:hover a { color: white !important; }



a:link, a:visited { color:#589900; text-decoration: none; }
a:hover, a:active { color: #384E80; text-decoration: underline; }
a.raw-data-selector { margin-left:10px; width:100px;}
a.raw-data-selector:hover { color: white; background-color: #384E80; width: 98%; }




/* hover tooltips */

*.info {
 position:relative; /*this is the key*/
 z-index:24;
 color:#000;
 text-decoration:none
}
*.info:hover {z-index:25;}
*.info span {display: none}
*.info:hover span { /*the span will display just on :hover state*/
 display:block;
 position:absolute;
 top:2em; left:1em; width:4em;
 border: 1px solid #159;
 background-color:#BBD9EE; color:#159;
 font-size: 0.9em;
 text-align: justify;
 padding-top:2px;
 padding-left:4px;
 padding-right:4px;
 padding-bottom:2px;
}
*.info ul {
 background-color:#BBD9EE; color:#159;
 font-size: 1em;
 padding-right:4px;
}

*.hidden { visibility:hidden; }

*.table-text { color:#589900; }

table.map-legend {
 font-size:12px;
}
td.td-legend { 
 height:1.5em;
 text-align:right;
 padding-top:5px; 
 padding-left:5px; 
}

table.about { cell-padding:6px; width:380px; text-align:justify; }

table.raw-record { cell-padding:6px; }

table#header-results {
 height:60px;
 width: 180px;
 margin-left:460px;
 float: left;
}

table#header-results td {
 width: 80px;
 font-size: 0.7em;
 text-align: right;
 display: inline-block;
}

table#header-logos {
 height:64px;
}

table#query-form { 
 cell-padding:6px; 
 width:600px; 
 border-radius:8px;
 border:1px solid black;
 margin-bottom:12px;
 background-color:#feeedb; 
}

table#search-form { 
 cell-padding:6px; 
 width:600px; 
 border-radius:8px;
 border:1px solid black;
 margin-bottom:12px;
 background-color:#feeedb; 
}

table#advanced-query-form { 
 cell-padding:6px; 
 width:600px; 
 border-radius:8px;
 border:1px solid black;
 margin-bottom:12px;
 background-color:#ceeedb; 
}

table#qstore-table {
 width:600px; 
 border-radius:8px;
 border:1px solid black;
 margin-bottom:12px;
 padding:4px;
 background-color:#feeedb; 
}

table#qstore-table td.cb-col { width:24px; }
table#qstore-table tr.tr-odd { background-color:#eeeeee; }
table#qstore-table tr.tr-evn { background-color:#dbffdb; }

table#sqstore-table {
 width:600px; 
 border-radius:8px;
 border:1px solid black;
 margin-bottom:12px;
 padding:4px;
 background-color:#feeedb; 
}

table#sqstore-table td.cb-col { width:24px; }
table#sqstore-table tr.tr-odd { background-color:#eeeeee; }
table#sqstore-table tr.tr-evn { background-color:#dbffdb; }

table#shqstore-table {
 width:600px; 
 border-radius:8px;
 border:1px solid black;
 margin-bottom:12px;
 padding:4px;
 background-color:#feeedb; 
}

table#shqstore-table td.cb-col { width:24px; }
table#shqstore-table tr.tr-odd { background-color:#eeeeee; }
table#shqstore-table tr.tr-evn { background-color:#dbffdb; }

table#pqstore-table  {
 width:600px; 
 border-radius:8px;
 border:1px solid black;
 margin-bottom:12px;
 padding:4px;
 background-color:#feeedb; 
}

table#pqstore-table td.cb-col { width:24px; }
table#pqstore-table tr.tr-odd { background-color:#eeeeee; }
table#pqstore-table tr.tr-evn { background-color:#dbffdb; }

table#tag-table {
 width:600px; 
 border-radius:8px;
 border:1px solid black;
 margin-bottom:12px;
 padding:4px;
 background-color:#feeedb; 
}

table#tag-table td.cb-col { width:24px; }
table#tag-table tr.tr-odd { background-color:#eeeeee; }
table#tag-table tr.tr-evn { background-color:#dbffdb; }

table#curr-query-form { 
 cell-padding:6px; 
 width:500px; 
 border-radius:8px;
 border:1px solid black;
 margin-bottom:12px;
 background-color:#feeedb; 
}

table#ctl-table { margin-top:-10px; width:666px; }

th.pm-hdr { border: #817865; height:26px; font-weight:normal; color:white; background-color:#817865; }

td.td-name  { text-align:right; vertical-align:top; width:120px; }
td.td-smallInput  { text-align:right; vertical-align:top; width:180px; }
td.td-largeInput  { text-align:right; vertical-align:top; width:480px; }
td.td-val   { text-align:left; vertical-align:top; }
td.td-num   { text-align:right; padding-right:5px; }

td.td-crud-name  { text-align:right; vertical-align:top; width:80px; }

td.sel-name   { width:280px; }
td.sel-state  { width:140px; }
td.sel-cntry  { width:200px; }
td.sel-accept { width:160px; align:right; }

input#q1 { width:462px; }
input#sh-em { width:462px; }
input#aq1 { width:462px; }
input#qd1 { width:462px; }

span.sub-header { font-weight:bolder; }
span.help-button { background:white; border:solid 1px; border-radius:6px; }
span.menu-text { font-weight:bolder; font-family:"Lucida Console", Monaco, monospace; }

input#add-locn-name  { width:200px; }
input#add-locn-state { width:60px;  }
input#add-locn-cntry { width:160px; }

li.help { padding-left:0px; margin-left:10px; }
ul.lev2 { padding-left:10px; }

.zonecheckboxes {
	text-align: center;
}
