body
{
	background-image:url('../images/GiancarloBackground.png');
	background-repeat:no-repeat;
}

.Header
{
	position:absolute;
	left:0px;
	top:90px;
}

img.MainMenuButtons
{
	padding-bottom:10px;
}