body
{
	background-image:url('../images/mainmenu/MainScreenBackground.png');
	background-repeat:no-repeat;
}

#MainMenu
{
	position:absolute;
	left:50px;
	top:250px;
	width:380px;
}

img.MainMenuButtons
{
	padding-bottom:10px;
}