@font-face {
	font-family: 'FjallaOne';
	src: url('../fonts/FjallaOne-Regular.ttf');
	src: local('Fjalla One'),  url('../fonts/FjallaOne-Regular.ttf') format('truetype');
}

*
{
	font-family: FjallaOne; !important
}


.Header
{
	position:absolute;
	left:0px;
	top:90px;
}

.Total
{
	position:absolute;
	left:0px;
	top:668px;
}

.Total p.TotalText
{
	position:absolute;
	left:10px;
	top:-10px;
	color:white;
	font-size:28px;
}

.Total p.TotalValue
{
	position:absolute;
	right:50px;
	top:-10px;
	color:white;
	font-size:28px;
}






.AddItem
{
	position:absolute;
	left:0px;
	top:180px;
}

.Items
{
	position:absolute;
	left:20px;
	top:260px;
	height:400px;
	overflow-x:hidden;
	overflow-y:auto;
}

.Item
{
	position:relative;
	padding-bottom:10px;
	/* color:white; */
	font-size:24px;
	width:440px;
	height:60px;
}

.CheckBox
{
	position:absolute;
	left:10px;
	top:20px;
}

.SelectItemBox
{
	position:absolute;
	left:40px;
	top:15px;
	width:200px;
	height:30px;
	font-size:24px;
}

.SelectSizeBox
{
	position:absolute;
	left:250px;
	top:15px;
	width:80px;
	height:30px;
	font-size:24px;
}

.ItemValue
{
	position:absolute;
	right:50px;
	top:-5px;
	color:white;
	content:$;
}

.RemoveButton
{
	position:absolute;
	right:0px;
	top:0px;
	width:60px;
	height:60px;
	background:transparent;
	border:transparent;
}
















.BottomButtons
{
	position:absolute;
	left:0px;
	top:740px;
}

.BottomButtons img.TimeBar
{
	position:absolute;
	left:0px;
	top:0px;
	width:239px;
}

.BottomButtons img.PlaceOrderBar
{
	position:absolute;
	left:241px;
	top:0px;
	width:239px;
}

.InputTime
{
	position:absolute;
	left:10px;
	top:750px;
}

.InputTime form
{
	color:white;
	font-size:24px;
}

.InputTime form input
{
	width:80px;
	height:30px;
	font-size:24px;
}